/* App Styles */
.App {
  text-align: center;
}

.App-background {
  background: url("../src/images/baseball-field.jpg");
  background-size: cover;
  background-position: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ---------------- */

/* Home Page */
.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 12vmin;
  pointer-events: none;
}

/* .HomePage {
  min-height: 500px;
}

.HomePage img,
#homePageBtns {
  bottom: 50px;
  position: inherit;
} */

#homePageBtns {
  margin-top: 30px;
}

.loginBtn,
.signupBtn {
  margin: 10px;
}

/* ---------------- */

/* Login & Signup Form */
#loginForm,
#signupForm {
  background-color: white;
  color: black;
  opacity: .9;
  padding: 15px;
}

#loginForm input,
#signupForm input {
  display: block;
}

#loginForm fieldset,
#signupForm fieldset {
  font-size: .7em;
}

.submit {
  margin-top: 15px;
}

/* ---------------- */

/* Profile Page */
.profilePage {
  height: 100vh;
  width: 100%;
}

/* ---------------- */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
